@import "variables";
@import "mixin";
* {
  @include overall;
}
body {
  @include bodyStyle(100%, 80vh);
  @include displayStyle(flex, column, center, center);
  overflow: hidden;
  user-select: none;
  position: relative;
  animation-name: init;
  animation-duration: 1s;
  background-color: $primaryColor;
}
.container {
  @include bodyStyle(310px, auto); // width: 310px;
  @include displayStyle(flex, row, center, center);
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.box {
  @include bodyStyle(100px, 100px);
  @include textStyle(30px, $secondryColor);
  @include displayStyle(flex, row, center, center);
  cursor: pointer;
  user-select: none;
  position: relative;
  transition-duration: 0.3s;
  border-left: 2px solid $secondryColor;
  border-bottom: 2px solid $secondryColor;

  &:hover {
    background-color: #000000;
  }
  &:nth-child(1),
  &:nth-child(2) {
    border-top: 2px solid $secondryColor;
  }
  &:nth-child(6),
  &:nth-child(9) {
    border-right: 2px solid $secondryColor;
  }
  &:nth-child(3) {
    border-top: 2px solid $secondryColor;
    border-right: 2px solid $secondryColor;
  }
}

.blue {
  &:after {
    @include afterStyle(#29b6f6);
  }
}
.red {
  &:after {
    @include afterStyle(#ec0d0d);
  }
}
.btns {
  @include bodyStyle(310px, auto);
  @include displayStyle(flex, row, center, center);
  margin: 0 auto;
  button {
    @include textStyle(16px, $secondryColor);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 26px;
    user-select: none;
    line-height: 36px;
    border-radius: 4px;
    transition-duration: 0.3s;
    background-color: #455a64;

    &:hover {
      background-color: #263238;
    }
  }
}

.mask {
  @include bodyStyle(100%, 100vh);
  @include textStyle(60px, $secondryColor);
  @include displayStyle(none, column, center, center);
  top: 0;
  left: 0;
  z-index: 1;
  user-select: none;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
}
.is-show {
  display: flex;
  animation: init 2s;
}
.play-btn {
  @include textStyle(16px, $secondryColor);
  border: none;
  cursor: pointer;
  padding: 0 26px;
  margin-top: 26px;
  line-height: 36px;
  border-radius: 4px;
  transition-duration: 0.3s;
  background-color: #4caf50;
  &:hover {
    background-color: #2e7d32;
  }
}
.winner {
  @include bodyStyle(120px, 120px);
  margin-bottom: 30px;
  border-radius: 100px;
}
.bg-blue {
  background-color: #29b6f6;
}

.bg-red {
  background-color: #ec0d0d;
}

@keyframes init {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
